@page
@model IndexModel

//Todo lo que va en va codigo c# que despues html lo lee
@{
    ViewData["Title"] = "Home page";

    var mensaje = "Mensaje de Prueba";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@mensaje</p>
</div>
